<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header-ul">
            <li class="main-header-item"><a class="<%= pagePath === '/dashboard' ? 'active' : '' %>" href="/dashboard">Dashboard</a></li>
            <li class="main-header-item"><a class="<%= pagePath === '/admin/add-tasks' ? 'active' : '' %>" href="/admin/add-tasks">Add Tasks</a></li>
            <li class="main-header-item"><a class="<%= pagePath === '/admin/add-ideas' ? 'active' : '' %>" href="/admin/add-ideas">Add Ideas</a></li>
        </ul>
    </nav>
</header>