<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <form class="task-form" onsubmit="createNewTask(event)">
            <div class="task-form-control">
                <h2>Create a New Task</h2>
                
                <label>Title</label>
                <input type="text" name="title" id="task_title" placeholder="Enter a title" required />
                
                <label>Description</label>
                <textarea name="description" id="task_description" placeholder="Enter the task description" rows="3" required></textarea>

                <label>Time Frame</label>
                <input type="datetime-local" name="time" id="task_time" required />

                <button type="submit">Save</button>
            </div>
        </form>
        
    </main>
<%- include('./includes/end.ejs') %>