<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <form class="idea-form" onsubmit="createNewIdea(event)">
            <div class="idea-form-control">
                <label>Write down an idea</label>
                <input type="text" name="title" id="title" placeholder="Enter a title" required/>
                <textarea rows="5" type="text" name="description" id="description" placeholder="Enter the task description" required></textarea>
                <button type="submit">Save</button>
            </div>
        </form>
    </main>
<%- include('./includes/end.ejs') %>