<%- include('./includes/head.ejs') %>
<body>
    <%- include('./includes/navigation.ejs') %>
    <main>
        <form class="task-form"  action="/admin/tasks" method="POST">
            <div class="form-control">
                <label>Create a new task</label>
                <input type="text" name="title" placeholder="Enter a title"/>
                <input type="text" name="description" placeholder="Enter the task description"/>
                <input type="datetime-local" name="time" placeholder="Enter time frame"/>
                <input type="file" name="docs" placeholder="Add a supporting document"/>
                <button type="submit">Save</button>
            </div>
        </form>
    </main>
<%- include('./includes/end.ejs') %>