<%- include('./includes/head.ejs') %>
<body>
    <main>
        <form class="login-form" onsubmit="loginUser(event)">
            <div class="login-form-control">
                <label>Login</label>
                <input type="text" name="username" id="username" placeholder="Enter username"/>
                <input type="password" name="password" id="password" placeholder="Enter password"/>
                <button type="submit">Save</button>
            </div>
        </form>
    </main>
<%- include('./includes/end.ejs') %>